<launch>
    <arg name="odom_topic" default="Odometry" />

    <node name="rviz" pkg="rviz" type="rviz"
        args="-d $(find planning)/config/rviz_config_real.rviz"> 
    </node>

    <rosparam command="load" file="$(find planning)/config/planner_params_real.yaml"/>  
    <node name="planning_node" pkg="planning" type="plan_node" output="screen">
        <!-- <remap from="sim_cloud" to="/global_cloud"/> -->
        <!-- <remap from="map" to="/Local_map"/> -->
        <remap from="map" to="/cloud_registered"/>
        <!-- <remap from="pc_map" to="/ouster/points"/> -->
        <remap from="odom" to="$(arg odom_topic)"/>
        <remap from="goal" to="/move_base_simple/goal"/>
        <remap from="ctrl" to="/controller/trajectory"/>
    </node>

    <node name="mapping_vis_node" pkg="mapping" type="mapping_vis_node" output="screen">
        <remap from="~gridmap" to="/gridmap"/>
        <remap from="~gridmap_inflate" to="/gridmap_inflate"/>
    </node>


    <node pkg="odom_visualization" name="odom_visualization" type="odom_visualization" output="screen">
		<!-- <remap from="~odom" to="/Imu_propagate" />     -->
		<remap from="~odom" to="$(arg odom_topic)" />    
        <param name="robot_scale" value="0.16"/> <!-- hunter 0.8m / audi ~5m -->
    </node>

    <node pkg="mpc_car" type="mpc_car" name="car_controller" output="screen">
        <rosparam file="$(find mpc_car)/config/mpc_car_real.yaml"/>
        <param name="dt" value="0.05"/>
        <param name="N" value="40"/>
        <!-- <remap from="~odom" to="/odom"/> -->
		<remap from="~odom" to="$(arg odom_topic)" />    
        <remap from="~car_cmd" to="car_cmd"/>  
        <remap from="~car_traj" to="/controller/trajectory"/>
        <remap from="/real_cmd" to="/cmd_vel" />
    </node>

</launch>